{% extends 'base.html.twig' %}

{% block title %}Symfony Forum!{% endblock %}

{% block body %}

    <h1>Add a new Subject</h1>
    <div id="newSubject">
        {{form(form)}}
   
    </div>
{% endblock %}
