{% extends 'base.html.twig' %}

{% block title %}Symfony Forum!{% endblock %}

{% block body %}

    <h1>Rules</h1>
<div id="rules">

    <ul>
        <li><ion-icon name="logo-wechat"></ion-icon>Language</li>
        <p>The official language of this forum is English. Using other languages is allowed in special forum sections only.</p>
        <li><ion-icon name="logo-mastodon"></ion-icon>Be Constructive</li>
        <p> When posting, please make sure you do so with good intentions. Refrain from posting when you don't have anything positive or constructive to say on the topic.
            Your post should contribute to the discussion or the solution of the issue being discussed.
            If the only purpose of your post is to be negative, it is not worth posting.</p>
        <li><ion-icon name="logo-reddit"></ion-icon>Be respectful</li>
        <p>Show others the respect and good behavior you would expect to receive from them.</p>
        <li><ion-icon name="logo-yahoo"></ion-icon>Moderating sanction</li>
        <p>Read our Forum Rules to understand why your post was moderated</p>
        <li><ion-icon name="logo-youtube"></ion-icon>Support</li>
        <p>For any important or urgent matter, you should contact our Customer Support directly</p>
        <li><ion-icon name="logo-yen"></ion-icon>Do not create topics/posts to share private conversations</li>
        <p>Exchanges with our Customer Support Services and through private messages should remain private</p>

    </ul>
</div>
{% endblock %}
